.listingContainer {
  margin-top: 50px;
  list-style: none;
  .listing {
    border: 1px solid #bbb;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 12px;
  }

  .emptyList {
    text-align: center;
    font-size: 30px;
  }

  .buttonContainer {
    text-align: center;
  }
}