.listItem {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 10px;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }

  a {
    color: red;
    font-size: 18px;
    text-decoration: none;
    position: absolute;
    top: 6px;
    right: 10px;
  }
}